body
{
    background-color: #D9D9D9;
}
.main_header
{
    display: flex;
    background-color:#353535;
    width: 100%;
    height: 119px;
    justify-content: space-between;
   
    position: fixed;
    z-index: 1;
    top: 0;
   left: 0;
}

.tag1
{
      display: flex;
      flex-direction: column;
      width: 95px;
      height: 44px;
       padding-top: 40px;
       padding-left: 35px;
      color:white;   
      font-size: 1.25rem;
      text-transform: uppercase;
      font-family: sans-serif;
}
span{
    color: #89FFAA;
}
.tag2
{
    color:white;
    display: flex;
    flex-direction:row;
    padding: 30px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height:normal;
    
}
a{
    text-decoration: none;
    color: white;

}
.tag2_1:hover
{
    border-bottom: 1px solid white;
}

.tag3
{
    color:white;
    padding-top: 20px;
    padding-right:50px;   


}

.search
{
    
    height: 15px;
    width: 150px;
    border-radius: 20px;
    padding: 10px;
}
input{
    background-color: white;
    border: 0px;
    outline: 0px;
}
.item1
{
    margin-left: 40px;
}
.secondrow
{
    padding: 0px;
    margin-top: 110px;
    height: 600px;
    background-color:#D9D9D9;
    display: flex;
    background-image: url(./assets/carbuy.jpg);
    background-size: 100vw 100vh;
    

}

.text{
    color:white;   
    font-size:2rem;
    text-transform: uppercase;
    font-family: sans-serif;
    transform: translate(103px,80px);
    

}
.search_1
{
    height: 40px;
    width: 400px;
    border-radius: 15px;
    transform: translate(-78px,160px);
    padding-left: 20px;

}
.secondrow_3
{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    transform: translate(-497px,247px);
}
.item2
{
    height: 50px;
    width: 60px;
    border-radius: 10px;
    background-color: white;
}
.item1
{
    height: 50px;
    width: 90px;
    border-radius: 10px;
    background-color: white;
    padding-left: 5px;

}
.textdesign
{
    font-size:1rem;
    color: #417A51;
    font-family: sans-serif;
}
.text1
{
    width: 300px;
    height: 40px;
    margin-left: 65px;
    text-transform: uppercase;
      font-family: sans-serif;
   
}
.colortext1
{
    color: #417A51;
}
.thirdrow
{
    width: 100%;
    height: 400px;
    background-color:#D9D9D9;
    display: flex;
    justify-content: space-around;

}
.item3
{
  height: 350px;
  width: 25%;
  background-color:whitesmoke;
 margin: 20px;;
 border-radius: 20px;
  
}
.text2
{
   width: 300px; 
    height: 20px;
    margin-left: 65px;
    transform: translateY(-55%);
    text-transform: uppercase;
      font-family: sans-serif;
}
.colortext2
{
    color: #417A51;
}
.fourthrow
{
    height: 200px;
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;

}
.item4
{
    height: 90px;
    width: 17%;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 60px;
}
.text3
{
    width: 100%;
    height: 40px;
    margin-left: 65px;
}
.fifthrow
{
    height: 300px;
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    justify-content: space-around;
   
}
.item5
{
    height: 270px;
    width: 18%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding-left: 15px;
    
    
}